<%= render "layouts/header" %>

<div class="content">
  <h3 style="margin-left:13px">Editing a reply</h3>
  <div style="color: red; margin-left: 15px; margin-bottom:13px"><%= notice %></div>
  <small style="margin-left:13px">
    <% if !current_user.nil? %>
      <% if @likes.find_by_reply_id(@reply.id).blank?%>
        <%= link_to '▲', "/replies/like/"+@reply.id.to_s, method: :put%>
      <%else %> 
        <%= link_to '▼', "/replies/dislike/"+@reply.id.to_s, method: :put%>
      <%end%>
    <%else%>
      <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
    <%end%>
    <%=@reply.points%> points by 
    <% if !current_user.nil? && current_user.email == @reply.creator %>
      <%=link_to @reply.creator, myprofile_path%> 
    <%else%>
      <%=link_to @reply.creator, userprofile_path(:user_id => @reply.creator)%> 
    <%end%>
    <%= render 'comments/timer', comment: @reply %> |
    <% if @reply.comment_id.nil? %>
      <%= link_to 'parent', Reply.find(@reply.reply_id) %> | on: 
    <% else %>
      <%= link_to 'parent', @reply.comment %> | on: 
    <% end %>
    <%= link_to Contribution.find(@reply.findContribution(@reply.id)).title, 
        Contribution.find(@reply.findContribution(@reply.id)) %>
  </small>
  
  <%= render 'formEdit', reply: @reply %>
</div>
