<%= form_with(model: user, local: true) do |form| %>

<tr>
				<td>
					<table>
						<table>
							<tbody>
								<tr>
									<td>
										user:
									</td>
									<td>
										<%= @user.username %>
									</td>
								</tr>
								<tr>
									<td>
										created:
									</td>
									<td>
										<%= @user.created_at.strftime("%B, %d, %Y") %>
									</td>
								</tr>
								<tr>
									<td>
										karma:
									</td>
									<td>
										<%= @user.karma %>
									</td>
								</tr>
								<tr>
									<td>
										about:
									</td>
									<td>
										<%= form.text_area(:about, size: '60x5') %>
									</td>
								</tr>
								<tr>
									<td>
										email:
									</td>
									<td>
										<%= form.text_field :email, size: "57"%>
								</tr>
								<tr>
								  <td>
                    <%= form.submit "update" %>
								  </td>
								</tr>
							</tbody>
						</table>
					</table>
				</td>
			</tr>

  
  
   
  
    <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
 <% end %>
