<%= render "layouts/header" %>

<div class="content">
  <div style="margin-left:10px; margin-top:10px" >
      <p>
        <strong>Username:</strong>&nbsp;&nbsp;
        <%= @user.email%>
      </p>
      <p>
        <strong>Created:</strong>&emsp;&nbsp;&nbsp;&nbsp;
        <%= @user.created_at.strftime("%B, %d, %Y")%>
      </p>
      <p>
        <strong>Karma:</strong>&emsp;&emsp;&nbsp;&nbsp;
        <%= @user.karma %>
      </p>
      <p style="padding-bottom:10px">
        <strong>About:</strong>&emsp;&emsp;&emsp;
        <%= @user.about %>
      </p>
      
      <p>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
        <%= link_to 'submissions',"/contributions/user/"+ @user.id.to_s, class:"wow"%>
      </p>
          
      <p>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
        <%= link_to 'comments', "threads/"+@user.id.to_s, class:"wow"%>
      </p>
      <br>
  </div>
</div>




