<div style="padding: 6px; padding-top: 20px;">
  
  <%= form_with(model: contribution, local: true) do |form| %>
    <% if contribution.errors.any? %>
        <ul>
          <% contribution.errors.full_messages.each do |message| %>
          <p style="color: red;"><%= message %></p>
          <% end %>
        </ul>
    <% end %>
  
      <div class="field">
        <div class="label-container">
          <%= form.label :title %>
        </div>
        <%= form.text_field :title, size: 60 %>
      </div>
      
      <div class="field">
        <div class="label-container">
          <%= form.label :url %>
        </div>
        
        <% if !edit %>
          <%= form.text_field :url,  size: 60 %>
        <% else %>
          <%= link_to @contribution.url, @contribution.url %>
        <% end %>
      </div>

      <% if @contribution.url.blank? || !edit %>
        <p class="note"><b>or</b></p>
        <div class="field">
          <div class="content-title">
            <%= form.label :text %>
          </div>
          <div class="content-text"><%= form.text_area :text, cols: "60", rows: "5" %></div>
        </div>
      <% end %>
        
      
      <div class="actions button-container">
        <%= form.submit %>
      </div>
      
      <% if !edit %>
        <p class="note">Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>
      <% end %>
  <% end %>
  
</div>