<%= render "layouts/header2", username: @User.email%>

<div class="content">

  <p id="notice"><%= notice %></p>
  
  <ol class="inline gap">
    <% @contributions.each do |contribution| %>
      <li>
        <div class="url-link">
           <small>
            <% if !current_user.nil? %>
              <% if @likes.find_by_contribution_id(contribution.id).blank?%>
                <%= link_to '▲','/like/'+contribution.id.to_s, method: :put%>
              <%else %> 
                <%= link_to '▼','/dislike/'+contribution.id.to_s, method: :put%>
              <%end%>
            <%else%>
              <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
            <%end%>
            </small>
            <% if contribution.text_is_blank? %>
              <a href="<%= contribution.url %>"><%= contribution.title %>
                <small>(<%= contribution.url %>)</small>
              </a>
            <% else %>
              <%= link_to contribution.title, contribution%>
            <% end %>
        </div>
        <div>
            <small>
              <%=contribution.points%> points by
              <% if !current_user.nil? %>
                <%if current_user.email == contribution.creator%>
                  <%=link_to contribution.creator, myprofile_path%> 
                <%else%>
                  <%=link_to contribution.creator, userprofile_path(:user_id => contribution.creator)%> 
                <%end%>
              <%else%>
                <%=link_to contribution.creator, userprofile_path(:user_id => contribution.creator)%>
              <%end%>
              <%= render 'timer', contribution: contribution %> 
              |
              <%= link_to contribution.numberOfComments(contribution.comments).to_s+' comments', contribution%>
              <% if !current_user.nil? && contribution.checkIfMine(current_user.email) %>
                 |
                 <%= link_to 'edit', edit_contribution_path(contribution)%></td> 
                 |
                 <%= link_to 'delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </small>
        </div>
      </li>
      <% end %>
  </ol>
</div>

