<% def show_replies(rep)
    rep.replies.each do |reply| %>
    <div>
      <div style="margin-bottom: 2px">
        <small>                
          <% if !current_user.nil? %>
            <% if @likes.find_by_reply_id(reply.id).blank?%>
              <%= link_to '▲','replies/like/'+ reply.id.to_s, method: :put%>
            <%else %>
              <%= link_to '▼','replies/dislike/'+ reply.id.to_s, method: :put%>
            <%end%>
          <%else%>
            <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
          <%end%>
          <%=reply.points%> points by <a><%= reply.creator %></a>
          <%= render 'comments/timer', comment: reply %>  </small>
      </div>
      <div class="pad-comment" style="margin-bottom: 3px">
        <%= reply.content%>
      </div>
      <div>
        <div class="pad-comment">
          <small><%= link_to 'Reply', reply %></small>
        </div>
      </div>
    </div>

<% if reply.replies.any? %>
  <ul><% show_replies(reply) %></ul>
<% end %>
<% end; nil end %>

<%= render "layouts/header" %>

<div class="content">
    <p id="notice"><%= notice %></p>
    <div class="marginleft15">
        <div class="inline">
          <small>
            <% if !current_user.nil? %>
              <% if @likes.find_by_contribution_id(@contribution.id).blank?%>
                <%= link_to '▲','/like/'+ @contribution.id.to_s, method: :put%>
              <%else %> 
                <%= link_to '▼','/dislike/'+ @contribution.id.to_s, method: :put%>
              <%end%>
            <%else%>
              <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
            <%end%>
          </small>
          <a id="esl" href="<%= @contribution.url %>"><%= @contribution.title %>
            <% if !@contribution.url.blank? %>
              <small>(<%= @contribution.url %>)</small>
            <% end %>
          </a>
        </div>
        <div class="leftmar">
          <small>
            <%=@contribution.points%> points by <%=@contribution.creator%> 
            <%= render 'timer', contribution: @contribution %> 
            |
            <%= link_to 'comments', @contribution%>
            <% if !current_user.nil? && @contribution.checkIfMine(current_user.email) %>
               |
               <%= link_to 'edit', edit_contribution_path(@contribution)%></td> 
               |
               <%= link_to 'delete', @contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </small>
          <p><%= @contribution.text %></p>
        </div>
        <div class="leftmar">
          <%= render "comments/form" %>
        </div>
        <br>
        <div>
          <% @coments.each do |comment| %>
            <div style="margin-top: 15px">
              <div style="margin-bottom: 2px"> 
               <small> 
                 <% if !current_user.nil? %>
                  <% if @likes.find_by_comment_id(comment.id).blank?%>
                    <%= link_to '▲','comments/like/'+ comment.id.to_s, method: :put%>
                  <%else %> 
                    <%= link_to '▼','comments/dislike/'+ comment.id.to_s, method: :put%>
                  <%end%>
                 <%else%>
                  <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
                 <%end%>
                   <%=comment.points%> points by <a><%= comment.creator %></a>
                   <%= render 'comments/timer', comment: comment %> 
                 </small>
               </div>
              <div class="pad-comment" style="margin-bottom: 3px">
                <%= comment.content%>
              </div>
              <div>
                <div class="pad-comment">
                  <small><%= link_to 'Reply', new_reply_path(:comment_id => comment.id, :contribution_id => @contribution.id) %></small>
                </div>
                <div>
                 <ul style="margin-top: 3px"><%= show_replies(comment) %></ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>