<p id="notice"><%= notice %></p>

	<center>
		<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        	<tr>
        		<td bgcolor="#ff6600">
        			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        				<tr>
                  			<td style="line-height:12pt; height:10px;">
                  				<span class="pagetop">
                  					<b class="hnname">
                  						<%= link_to 'Hacker News',"/" %>
                  					</b> | 
              						<%= link_to 'newest', "/newest"%> |
              					  <%= link_to 'submit', "/submit"%> |
              					  <% if current_user.nil? %>
              					    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
              					  <% else %>
              					    <%= link_to "sign out", "/sign_out" %> |
              					    <%= current_user.email %>(<%= current_user.karma %>)
              					    
              					  <% end %>
              					</span>
              				</td>
              			</tr>
              		</table>
              	</td>
            </tr>
            <tr id="pagespace" title="" style="height:10px"></tr>
            
            <tr>
              <td>
                 <p>
                  <strong>Title:</strong>
                  <%= @contribution.title %>
                </p>
                
                <p>
                  <strong>Url:</strong>
                  <%= @contribution.url %>
                </p>
                
                <p>
                  <strong>Text:</strong>
                  <%= @contribution.text %>
                </p>
                
                <%= form_with(model: @comment, url: 'add_comment' ) do |form| %>
                  <div class="field">
                    <%= form.label :content %>
                    <%= form.text_area :content %>
                  </div>
                  <%= form.hidden_field :contribution_id, :value => @contribution.id %>
                  <div class="actions">
                    <%= form.submit "Add comment" %>
                  </div>
                <% end %>
                
                <%= link_to 'Edit', edit_contribution_path(@contribution) %> |
                <%= link_to 'Back', contributions_path %>
              </td>
            </tr>
        </table>
    </center>

<p id="notice"><%= notice %></p>