<%= render "layouts/header" %>

<div class="content">
    <p id="notice"><%= notice %></p>
    <div class="inline">
      <small>
        <% if !current_user.nil? %>
          <% if @likes.find_by_contribution_id(@contribution.id).blank?%>
            <%= link_to '▲','/like/'+ @contribution.id.to_s, method: :put%>
          <%else %> 
            <%= link_to '▼','/dislike/'+ @contribution.id.to_s, method: :put%>
          <%end%>
        <%else%>
          <%= link_to '▲',user_google_oauth2_omniauth_authorize_path %>
        <%end%>
      </small>
      <a href="<%= @contribution.url %>"><%= @contribution.title %>
        <small>(<%= @contribution.url %>)</small>
      </a>
    </div>
    <div>
      <small>
        <%=@contribution.points%> points by <%=@contribution.creator%> 
        <%= render 'timer', contribution: @contribution %> 
        |
        <%= link_to 'comments', @contribution%>
        <% if !current_user.nil? && @contribution.checkIfMine(current_user.email) %>
           |
           <%= link_to 'edit', edit_contribution_path(@contribution)%></td> 
           |
           <%= link_to 'delete', @contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </small>
    </div>
    <div>
      <%= render "comments/form" %>
    </div>
    <br>
     <tbody>
    <% @coments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.creator %></td>
      </tr>
      <br>
    <% end %>
  </tbody>
</div>