<%= render "layouts/header" %>

<div class="content">

  <p id="notice"><%= notice %></p>

  <ol class="inline gap">
    <% @comments.each do |comment| %>
      <li style="margin-bottom:3px">
        <div class="url-link">
           <small>
              <% if @likes.find_by_comment_id(comment.id).blank?%>
                <%= link_to '▲','/comments/like/'+comment.id.to_s, method: :put%>
              <%else %> 
                <%= link_to '▼','/comments/dislike/'+comment.id.to_s, method: :put%>
              <%end%>
           </small>
           <%= link_to comment.content, comment%>
        </div>
        <div>
            <small class="leftmar">
              <%=comment.points%> points by
              <% if !current_user.nil? && current_user.id == comment.user_id %>
                <%=link_to comment.user.email, myprofile_path%> 
              <%else%>
                <%=link_to comment.user.email, userprofile_path(:user_id => comment.user_id)%> 
              <%end%>
              <%= render 'comments/timer', comment: comment %> 
              |
              <%= link_to 'comments', comment %>
              <% if !current_user.nil? && comment.checkIfMine(current_user.id) %>
                 |
                 <%= link_to 'edit', edit_comment_path(comment)%></td> 
                 |
                 <%= link_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </small>
        </div>
      </li>
    <% end %>
  </ol>
</div>