<div class="header">
  <div class="links"></div>
  <a href="/">  <img src="https://www.linkpicture.com/q/y18.gif" alt="logo"/><h1>Hacker News</h1></a>
  <div class="links">
    <%= link_to 'new', "/newest" %> | 
    <%= link_to 'ask', "/ask" %> | 
    <% if current_user.nil? %>
      <%= link_to 'threads', user_google_oauth2_omniauth_authorize_path %> | 
    <% else %>
      <%= link_to 'threads', "/threads/"+current_user.id.to_s %> |
    <% end %>
    <%= link_to 'submit', "/submit" %> | 
    <%= link_to 'api', "/api" %> | 
    <h> <%= username  %>'s submissions </h>
       <div class="right">
         <% if current_user.nil? %>
           <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
          <% else %>
            <%= link_to current_user.email, myprofile_path %>(<%= current_user.karma %>) |
            <%= link_to "sign out", "/sign_out" %>
          <% end %>
       </div>
    </div>
  </div>
</div>